.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/vector-buttons-x.svg);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  background-size: contain;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__close-button:focus {
  outline: none;
}

@media screen and (max-width:767px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    right: 0px;
  }
}