.menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 62px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}